%h3 プロ野球　リーグ再編成

- flash.each do |message_type, message|
  - if message_type == "notice"
    .alert.alert-success.fade.in
      %a{:href => "#", :class => "close", "data-dismiss" => "alert", "aria-label" => "alert"}
        &times;
      = message
  - elsif message_type == "alert"
    .alert.alert-warning.fade.in
      %a{:href => "#", :class => "close", "data-dismiss" => "alert", "aria-label" => "alert"}
        &times;
      = message

= form_tag '/result', method: :post do
  %p 用いる指標を１つ以上選択してください
  - %w(STRENGTH POPULAR HOMERUN DEFENCE MONEY).each_with_index do |item, index|
    .checkbox
      %label
        = check_box_tag 'scores[]', index
        = item
        %br
  %p 出力したい結果を選択してください
  .radio
    %label
      = radio_button_tag 'sort', 'best', class: 'checked'
      = 'トップ５'
      %br
  .radio
    %label
      = radio_button_tag 'sort', 'worst'
      = 'ワースト５'
      %br
  = submit_tag '再編成する', class: 'btn btn-primary'

%h5 OR実験の成果物です。
